<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Mes Fichiers</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mes Fichiers</title>
    </head>
    <body>
        <%- include('../PARTIALS/navbar') %>
        <div class="container">
            <br>
            <p>
                (<%= user1.email %>)
                <br>
                <strong><%= user1.nom %> <%= user1.prenom %></strong>
            </p>
            <% if(chambreUser !== null) { %>
            <h3><%= chambreUser.nom %></h3>
            <% } %>
            <% if(files.length > 0 && user1.role !== "locataire") {%>
                <%= console.log(chambreUser) %>
                <p>Votre dossier n'est pas encore accepté.</p>
            <% } %>
            <% if(userFiles && userFiles.length === 0) { %>
                <p>Vous n'avez pas encore créer de dossier.</p>
            <% } %>
            <% if(userFiles && userFiles.length !== 0) {%>
                <ul>
                    <h1>Mes Fichiers</h1>
                    <% files.forEach(file => { %>
                        <br>
                        <li>
                            <strong>Nom :</strong> <%= file.originalname %> <br>
                            <strong>Type :</strong> <%= file.contentType %> <br>
                            <strong>Date d'upload :</strong> <%= new Date(file.uploadDate).toLocaleString() %> <br>
                            <a href="/files/<%= file.fileId %>" target="_blank">Voir le fichier</a>
                            <% if(user.role === "admin") { %>
                                <form action="/admin/delete/<%= file.fileId %>" method="POST" style="display:inline;">
                                    <button type="submit" class="delete-button">Supprimer</button>
                                </form>
                            <% } %>
                        </li>
                        <hr>
                    <% }) %>
                </ul>
                <% } %>
        </div>

        <% if(user.role === "admin") {%>

            <div class="sub-container">
                <h2>Ajouter un fichier :</h2>
                <form action="/admin/upload/<%= userId %>" method="POST" enctype="multipart/form-data">
                    <label for="file">Sélectionner un fichier :</label><br>
                    <input type="file" id="file" name="file" required><br><br>
                    <input type="submit" value="Uploader le fichier">
                </form>
            </div>
        <% } %>
        <%- include('../PARTIALS/footer') %>
    </body>
    </html>
    
</body>
</html>
