<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Dashboard <%= user.role %></title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">

        <h2>Propriétaire <%= user.nom %> <%= user.prenom %></h2>
        <p>Bienvenue sur votre <strong>Tableau De Bord Administrateur .</strong></p>

        <div class="sub-container">
            <a href="/mes-fichiers/<%= user._id %>"><strong>Mes Fichiers</strong></a>  
        </div>
        
        <div class="sub-container">
            <h2>Suivi des contrats de location</h2>
                <% if(users.length > 0) { %>
                        <% users.forEach(user => { %>
                                    <li class="sub-container">
                                        <h4><%= user.nom %> <%= user.prenom %> (<%= user.email %>)</h4>
                                        <a href="/mes-fichiers/<%= user._id %>">accéder à son espace</a>
                                        <form action="/admin/remove-locataire/<%= user._id %>" method="POST">
                                            <input type="hidden" name="userId" value="<% usersWithFiles.forEach(userData => { userData.chambre })%>">
                                            <input type="hidden" name="chambre" value="<%= user._id %>">
                                            <button type="submit" class="btn btn-danger">retirer ce locataire</button>
                                        </form>
                                    </li>  
                            <% }) %>
                <% } else {%>
                    <p>Aucun locataire actuellement.</p>
                <% } %>
        </div>
    
        <div class="sub-container">
            <div class="sub-container">
                <h2>Ajouter une annonce :</h2>
                <form action="/annonces/<%= user._id %>" method="POST" >
        
                    <label for="titre">Titre de l'annonce</label><br>
                    <input type="text" id="titre" name="titre" required>
                    <br><br>
                
                    <label for="description">Description</label><br>
                    <textarea id="description" name="description" rows="4" cols="50" required></textarea>
                    <br><br>                 
                
                    <input type="submit" value="Publier l'annonce">
                </form>
                <% if (success_msg) { %>
                    <div class="flash-message success"><%= success_msg %></div>
                <% } %>
            </div>
            <div class="sub-container">
                <h4>Réclamations</h4>
            <% if(casses.length > 0) { %>
                    <% casses.forEach(casse => { %>
                                <li>
                                    <h4>Message reçu : <%= casse.userId.nom %> <%= casse.userId.prenom %> (<%= casse.userId.role %>)</h4>
                                    <h5><%= casse.description %></h5>
                                    <%= new Date(casse.dateCasse).toLocaleDateString("fr-FR") %> à 
                                    <%= new Date(casse.dateCasse).toLocaleString("fr-FR", { 
                                        timeZone: "Europe/Paris", 
                                        hour: "2-digit", 
                                        minute: "2-digit" 
                                      }) %>%>
                                    <a href="/deletecasse/<%= casse._id %>">Supprimer</a>
                                </li>  
                    <% }) %>
            <% } else {%>
                <p>Aucune réclamation pour le moment.</p>
            <% } %>
            </div>
        </div>
        
        <div class="sub-container">
            <h2>Dossiers à vérifier</h2>
            <% const filteredUsers = usersWithFiles.filter(userData => userData.user.role === "un simple utilisateur" && userData.files.length > 0); %>
            <% if (filteredUsers.length > 0) { %>
                <ul class="sub-container">
                    <% usersWithFiles.forEach(userData => { %>
                            <% if(userData.user.role === "un simple utilisateur") { %>
                            <li>
                                <%= userData.user.email %> <br>
                                le <%= new Date(userData.files[0].uploadDate).toLocaleDateString("fr-FR") %> à 
                                <%= new Date(userData.files[0].uploadDate).toLocaleString("fr-FR", { 
                                    timeZone: "Europe/Paris", 
                                    hour: "2-digit", 
                                    minute: "2-digit" 
                                  }) %>%>
                                <div>
                                    <p>
                                        <strong><%= userData.user.nom %> <%= userData.user.prenom %></strong>
                                        à déposer un dossier de candidature pour la chambre <%= userData.chambre %>.
                                    </p>
                                </div>
                                <div class="user-files">
                                    <ul>
                                        <% userData.files.forEach(file => { %>
                                            <br>
                                            <li>
                                                <strong><%= file.filename %></strong><br>
                                                <strong>Type :</strong> <%= file.contentType %> <br>
                                                <strong>Date d'upload :</strong> <%= new Date(file.uploadDate).toLocaleString() %> <br>
                                                <a href="/files/<%= file.fileId %>" target="_blank">Voir le fichier</a>
                                            </li>
                                            <% }) %>
                                    </ul>
                                    <br>
                                    <em>Cette personne a demandé à avoir la <%= userData.chambre %></em>
                                    <form action="/admin/valider-locataire/<%= userData.user._id %>" method="POST">
                                        <label for="chambre">Assigner une chambre :</label>
                                        <select name="chambre" id="chambre" required>
                                            <% chambres.forEach(chambre => { %>
                                                <option value="<%= chambre._id %>"><%= chambre.nom %></option>
                                                <% }) %>
                                            </select>
                                            <button type="submit">Accepter le dossier</button>
                                    </form>
                                    <form action="/delete-files" method="POST">
                                         <input type="hidden" name="userId" value="<%= userData.user._id %> %>">
                                        <button type="submit" class="btn btn-danger">refuser la candidature</button>
                                    </form>         
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
        <% } else { %>
            <p>Aucun dossier à vérifier pour le moment.</p>
        <% } %>
         </div>
                                
        <div class="sub-container">
            <h5>Gérer les chambres</h5>
            <% chambres.forEach(chambre => { %>
                <li class="sub-container">
                    <h5><%= chambre.nom %></h5>
                    <a href="/updatechambres/<%= chambre._id %>">Modifier cette chambre</a>
                </li>  
            <% }) %>
            
        </div>
    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
                document.addEventListener("DOMContentLoaded", function () {
            if (sessionStorage.getItem("scrollPosition")) {
                window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
                sessionStorage.removeItem("scrollPosition");
            }
    
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function () {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });
        });
    </script>
</body>
</html>