<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styledashboard.css">
    <title>Dashboard <%= user.role %></title>
</head>
<body>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
    <%- include('../PARTIALS/navbar') %>
    <br><br>
    <div class="container">

        <div class="sub-container">
            <h2>Locataire <%= user.nom %> <%= user.prenom %></h2>
                <p>Bienvenue sur votre <strong>Tableau De Bord Locataire .</strong></p>
                <br>
                <a href="/mes-fichiers/<%= user._id %>">Mon Espace</a>  
        </div>
        <div class="sub-container">
    
            <% if(annonces) { %>
                <% annonces.forEach(annonce => { %>
                    <div class= "annonce ">
                        <h3>Dernière annonce :</h3>
                            <li class="sub-container">
                                <strong><%= annonce.titre %></strong>
                                <h5><%= annonce.description %></h5>
                            </li>
                            <p> <%= annonce.userId.prenom %> <%= annonce.userId.nom %> : <%= new Date(annonce.dateAnnonce).toLocaleDateString('fr-FR') %></p>
                    </div>    
                    <% }) %>
            <% } %>

        </div>


        <div class="sub-container">
            <h4>Envoyer un message :</h4>
            <form action="/casses/<%= user._id %>" method="POST">
                <br>
                <textarea id="description" name="description" rows="4" cols="50" required></textarea>
                <br><br>
                
                <input type="submit" value="Envoyer">
            </form>
            <% if (success_msg) { %>
                <div class="flash-message success"><%= success_msg %></div>
                <% } %>
            </div>      
    </div>
    <br><br>
    <%- include('../PARTIALS/footer') %>
    <script>
                document.addEventListener("DOMContentLoaded", function () {
            if (sessionStorage.getItem("scrollPosition")) {
                window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
                sessionStorage.removeItem("scrollPosition");
            }
    
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function () {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });
        });
    </script>
</body>
</html>