<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Dashboard <%= user.role %></title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">

        <h2>Admin <%= user.nom %> <%= user.prenom %></h2>
        <h3>Dashboard Admin</h3>
    
        <div class="sub-container">
            <a href="#">Suivi des contrats de location (date de début, échéance)</a>
        </div>
    
        <div class="sub-container">
            <div class="sub-container">
                <h4>Ajouter une annonce :</h4>
                <form action="/annonces/<%= user._id %>" method="POST" >
        
                    <label for="titre">Titre de l'annonce</label><br>
                    <input type="text" id="titre" name="titre" required>
                    <br><br>
                
                    <label for="description">Description</label><br>
                    <textarea id="description" name="description" rows="4" cols="50" required></textarea>
                    <br><br>
                
                    <label for="dateAnnonce"></label>
                    <input type="date" id="dateAnnonce" name="dateAnnonce" 
                           value="<%= new Date().toISOString().split('T')[0] %>" required>
                    <br><br>
                    
                
                    <input type="submit" value="Publier l'annonce">
                </form>
                <% if (success_msg) { %>
                    <div class="flash-message success"><%= success_msg %></div>
                <% } %>
            </div>
            <div class="sub-container">
                <h4>Gestion des casses</h4>
                <% if(casses) { %>
                    <% casses.forEach(casse => { %>
                                <li class="sub-container">
                                    <h5><%= casse.description %></h5>
                                    <p>Créé par : <%= casse.userId.nom %> <%= casse.userId.prenom %> (<%= casse.userId.role %>)</p>
                                </li>  
                        <% }) %>
                <% } %>
                <a href="/deleteallcasse">Supprimer tout les messages</a>
            </div>
        </div>
        
        <div class="sub-container">
            <a href="#">Nouveaux dossiers à vérifier</a>
            <li class="sub-container">
                <% if (usersWithFiles && usersWithFiles.length > 0) { %>
                    <h3>Utilisateurs ayant des fichiers :</h3>
                    <ul>
                        <% usersWithFiles.forEach(userData => { %>
                            <li>
                                <strong><%= userData.user.nom %></strong> (<%= userData.user.prenom %>) - <%= userData.user.role %>
                                
                                <!-- Liste des fichiers de l'utilisateur -->
                                <div class="user-files">
                                    <ul>
                                        <% userData.files.forEach(file => { %>
                                            <li>
                                                <strong><%= file.originalname %></strong> - <%= file.contentType %> <br>
                                                <a href="/files/<%= file.fileId %>" target="_blank">Voir le fichier</a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </li>
                            <hr>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>Aucun utilisateur n'a déposé de fichiers.</p>
                <% } %>
                
            </li>
            <p>
                (possibilité de valider ou refuser le dossier en ajoutant en tant que locataire, avec stipulation du loyer et de la durée du bail(date de début et d'échéance))
                (possibilité de contacter le locataire)
            </p>
            <a href="#">Nouveaux avis à vérifier</a>
            <p>
                (liste des avis à poster)
                (possibilité de valider ou refuser l'avis pour le poster de manière anonyme)
            </p>
        </div>
    
        <div class="sub-container">
            <a href="#">Gérer les chambres</a>
            <p>
                <h5>liste des chambres (avec bouton modifier)</h5>
            </p>
        </div>
    </div>
    <%- include('../PARTIALS/footer') %>
</body>
</html>