<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dépôt de dossier</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">
        <h2>Dépôt de dossier</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data" class="sub-container">
            <input type="hidden" name="userId" value="<%= user._id %>">
        
            <label>Pièce d'identité :</label>
            <input type="file" name="files" required>
        
            <label>Justificatif de domicile / Bon paiement loyers :</label>
            <input type="file" name="files" required>
        
            <label>Justificatifs de situation professionnelle :</label>
            <input type="file" name="files" required>
        
            <label>Justificatifs de ressources :</label>
            <input type="file" name="files" required>
        
            <label>Avis d'imposition :</label>
            <input type="file" name="files" required>
        
            <label>Les justificatifs du ou des garant(s) :</label>
            <input type="file" name="files" required>

            <label for="chambre">Choisissez votre chambre :</label>
            
            <select name="chambre" id="chambre" required>
                <% chambres.forEach(chambre => { %>
                    <option value="<%= chambre._id %>"><%= chambre.nom %></option>
                <% }) %>
            </select>
        
            <button type="submit">Soumettre</button>
        </form>
    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
});
</script>
</body>
</html>
