<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styledashboard.css">
    <title><%= chambre.nom %></title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <br><br>
    <div class="container">
        <div class="sub-container">
            <p><strong><%= chambre.nom %> située au <%= chambre.position %></strong></p>
            <p><strong>Status : </strong>
                <% if (chambre.disponibilite == true) { %>
                    <span>Disponible</span>
                <% } else { %>
                    <span>Non disponible</span>
                <% } %>
            </p>
            <br><br>
            <% if (chambre.nom == "Chambre 4") { %>
                <img src="/images/chambre4.jpeg" alt="Chambre 4" width="500px" height="auto">
            <% } else if (chambre.nom == "Chambre 10") { %>
                <img src="/images/chambre10.jpeg" alt="Chambre 10" width="500px" height="auto">
            <% } else if (chambre.nom == "Chambre 14") { %>
                <img src="/images/chambre14.jpeg" alt="Chambre 14" width="500px" height="auto">
            <% } else if (chambre.nom == "Chambre 15") { %>
                <img src="/images/chambre15.jpeg" alt="Chambre 15" width="500px" height="auto">
            <% } %>
        </div>
        <div class="sub-container">
            <p><strong>Confort :</strong></p>
            <p>Volets : <%= chambre.volets %></p>
            <p>Radiateur : <%= chambre.radiateur %></p>
            <p>Prises éléctriques : <%= chambre.prises_electriques %></p>
            <p>Multi prise :<%= chambre.multi_prises%></p>
            <p>Bureau : <%= chambre.bureau %></p>
            <p>Chaise : <%= chambre.chaise %></p>
            <p>Lit : <%= chambre.lit %></p>
            <p>Dressing : <%= chambre.dressing %></p>
            <p>Oreiller : <%= chambre.oreiller %></p>
            <p>Plaid : <%= chambre.plaid %></p>
        </div>
        <div class="sub-container">
            <% if(user) { %>
                <strong id="tarif">Tarif : <%= chambre.price %> € charges comprises.</strong>
                <br><br>
                <a href="/depotdossier">Je dépose mon dossier</a>
            <% } else { %>
                <a href="/compte">Je dépose mon dossier</a>
            <% } %>
        </div>

    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
});
</script>
</body>
</html>
