<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styledashboard.css">
    <title><%= user.nom %></title>
</head>
<body>
    <style>
        .container {
            margin-top:100px;
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">
        <div class="sub-container">
            <% if (success_msg2) { %>
                <div class="flash-message success"><%= success_msg2 %></div>
            <% } %>
            <p><strong><%= user.nom %> <%= user.prenom %></strong></p>
            <p><strong>Email : </strong><%= user.email %></p>
            <p><strong>Tu es : </strong><%= user.role %></p>
            <p><strong>Status : </strong><%= user.status %></p>
            <br><br>
            <div>
                <a href="/edituser/<%= user._id %>">Modifier</a>
                <a href="/deleteuser/<%= user._id %>">Supprimer mon compte</a>
                <a href="/">Retour à l'Accueil</a>
            </div>
        </div>
    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
});
</script>
</body>
</html>
