<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Modification de l'utilisateur <%= user.nom %></title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <div class="container">
        <h1>Modification de l'utilisateur <%= user.nom %></h1>
        <form action="/edituser/<%= user._id %>?_method=PUT" method="POST">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" value="<%= user.nom %>" required>

            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" value="<%= user.prenom %>" required>

            <button type="submit">Mettre à jour</button>
        </form>
        <a href="/compte">Revenir au compte</a> 
    </div>
    <%- include('../PARTIALS/footer') %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    if (sessionStorage.getItem("scrollPosition")) {
        window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
        sessionStorage.removeItem("scrollPosition");
    }

    document.querySelectorAll("form").forEach(form => {
        form.addEventListener("submit", function () {
            sessionStorage.setItem("scrollPosition", window.scrollY);
        });
    });
});
</script>
</body>
</html>
