<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Mon Compte</title>
</head>
<body>
    <%- include('../PARTIALS/navbar') %>
    <% if (user) { %>
        <div class="container">
            <% if (success_msg) { %>
                <div class="flash-message success"><%= success_msg %></div>
            <% } %>
            
            <% if (error_msg2) {%>
                <div class="flash-message error"><%= error_msg2%></div>
            <% } %>  
            <a href="/showuser/<%= user._id  %>">Profil</a>
            <form action="/logout" method="POST">
                <button type="submit">Déconnexion</button>
            </form>
            <% if (user.role === "un simple utilisateur") {%>
            <a href="/depotdossier">Je dépose mon dossier</a>   
            <a href="/mes-fichiers/<%= user._id %>">Mes fichiers</a>  
            <% } %>
        </div>
    <% } else { %>
        <div class="container">
            <h1>S'enregistrer</h1>
            <form action="/register" method="POST">

                <label for="email">Email :</label>
                <input type="text" name="email" id="email" required>

                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>

                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom" required>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">S'enregistrer</button>
            </form>
            <% if (success_msg) { %>
                <div class="flash-message success"><%= success_msg %></div>
            <% } %>
        
            <% if (error_msg) { %>
                <div class="flash-message error"><%= error_msg %></div>
            <% } %>  
        </div>
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="email">Email :</label>
                <input type="text" id="email" name="email" required>
    
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <% if (error_msg2) { %>
            <div class="flash-message error"><%= error_msg2 %></div>
        <% } %> 
    <% } %>
    <%- include('../PARTIALS/footer') %>
</body>
</html>